.ListItem {
    display: flex;
    align-items: center;
}

.ListItem > * {
    margin: 8px;
}

.ListItem > div:nth-child(2) {
    font-weight: bold;
}

.ListItem > div:nth-child(3) {
    text-align: right;
    flex-grow: 4;
    margin-left: 16px;
}

.ListItem:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
