.ReadMore__Content {
    overflow: hidden;
    background-image: linear-gradient(to top, black, white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.1s ease 0s;
}

.ReadMore__Button {
    text-align: right;
    font-weight: bold;
    margin-top: 16px;
}
