.MenuWrapper {
    position: relative;
    user-select: none;
    height: 100%;
    box-sizing: border-box;
    border-top: 1px transparent solid;
}

.MenuWrapper__SelectedItem {
    outline-style: solid;
    outline-width: 2px;
    outline-color: rgba(255, 208, 54, 0.616);
}
