.LivePreview {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
    overflow: auto;
}

.LivePreview__Title {
    text-align: center;
    padding: 8px;
    display: block;
    font-weight: bolder;
}

.LivePreview__Content {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-grow: 4;
    overflow: auto;
}

.LivePreview__Menu {
    user-select: none;
    flex-grow: auto;
}

.LivePreview__Page {
    flex-grow: 4;
}
