.LivePreview {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
    overflow: hidden;
}

.LivePreview__Title {
    text-align: center;
    padding: 8px;
    display: block;
    font-weight: bolder;
    margin-bottom: 1px;
}

.LivePreview__Content {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-grow: 4;
    overflow: hidden;
}

.LivePreview__Menu {
    user-select: none;
    flex-grow: 2;
    max-width: 280px;
    min-width: 280px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 2px 3px -1px rgb(0 0 0 / 20%),
        0px 1px 3px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.LivePreview__Page {
    flex-grow: 4;
    overflow: auto;
}

.LivePreview__Page > div {
    min-width: 300px;
}

.LivePreview__NoContent {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: max-content;
    flex-grow: 4;
}
