.PreferenceItem {
    width: 100%;
    margin-bottom: 16px;
    margin-top: 16px;
}

.PreferenceTitle {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.PreferenceDescription {
    font-size: 0.8rem;
    margin-bottom: 8px;
    display: block;
}

.PreferenceValue {
    margin-top: 8px;
}
